<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="5" name="Suite" parallel="tests" >

  <test  name="parallelTest1">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.seleniumGrid.parallelTest"/>
    </classes>
  </test> <!-- parallelTest -->
  
  <test  name="parallelTest2">
  <parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="com.seleniumGrid.parallelTest"/>
    </classes>
  </test> <!-- parallelTest -->
  
  <test  name="parallelTest3">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="com.seleniumGrid.parallelTest"/>
    </classes>
  </test> <!-- parallelTest -->
  
</suite> <!-- Suite -->
